#Probabilities

In [ ]:
import math
#فاکتوریل
print(math.factorial(6))

720

In [ ]:
#شبیه‌سازی پرتاب سکه
import random
def coin_trial():
    heads = 0
    for i in range(100):
      if random.random() <= 0.5:
         heads +=1
    return heads

def simulate(n):
    trials = []
    for i in range(n):
      trials.append(coin_trial())
    return(sum(trials)/n)

In [ ]:
simulate(10000)

50.0707

In [ ]:
#یک مثال برای بررسی مفهوم احتمال
import pandas as pd
import numpy as np

#create pandas DataFrame with raw data
df = pd.DataFrame({'gender': np.repeat(np.array(['Male', 'Female']), 150),
                   'sport': np.repeat(np.array(['Baseball', 'Basketball', 'Football',
                                                'Soccer', 'Baseball', 'Basketball',
                                                'Football', 'Soccer']),
                                    (34, 40, 58, 18, 34, 52, 20, 44))})

#produce contingency table to summarize raw data
survey_data = pd.crosstab(index=df['gender'], columns=df['sport'], margins=True)

#view contingency table
survey_data

sport   Baseball  Basketball  Football  Soccer  All
gender
Female        34          52        20      44  150
Male          34          40        58      18  150
All           68          92        78      62  300

In [ ]:
#extract value in second row and first column
survey_data.iloc[2, 1]

92

In [ ]:
#calculate probability of being male, given that individual prefers baseball
survey_data.iloc[1, 0] / survey_data.iloc[2, 0]

0.5

In [ ]:
#calculate probability of preferring basketball, given that individual is female
survey_data.iloc[0, 1] / survey_data.iloc[0, 4]

0.3466666666666667